.player {
  color: whitesmoke;
  font-size: 15px;

  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
}

.player h3 {
  margin-left: 20px;
  font-weight: bold;
}

.player a {
  margin-left: 30px;
  color: darkgrey;
  text-decoration: none;
}

.player input[type="submit"] {
  margin-left: 30px;
}

.player a:hover {
  text-decoration: underline;
}

.player span {
  font-size: 18px;
}

.player-search {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-submit {
  background: white;
  color: black;
  font-family: Arial;
  border: none;
  outline: none;
  border-radius: 3px;
}

.half-col {
  float: left;
  width: 50%;
}

.friends-table th {
  color: darkgrey;
}

.tabs {
  display: flex;
  justify-content: center;
}

.leaderboard-modes {
  margin-top: 10px;
}

.tab {
  background-color: #354161;
  color: white;
  outline: none;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.tab[autofocus] {
  background-color: #21283b;
}

.tab:hover {
  background-color: #2d3752;
  color: whitesmoke;
}

.leaderboard-columns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.leaderboard-column {
  width: 80%;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer-container {
  font-size: 26px;
  transform: translate(0, -70px);
  text-align: center;
}

.text-center {
  text-align: center;
}
